<div class="backgroundGeneralUser">
    <div class="one-page-static-wrap" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="static-text" style="margin-top: -200px">
                <div style="text-align: center">

                </div>
                <h1 style="font-size: 35px">Everything you're looking for</h1>
                <div style="text-align: center;margin: inherit">
                    <div id="homeInfo" class="col-md-offset-3 col-md-6" style="margin-top: -25px; text-align: center ">
                        <p style="color: #ffffff;font-size: larger">Weddings, parties or headshots...you need someone behind the lens. Find the perfect <i>"Grafer"</i> for your needs.</p>
                        <p style="color: #ffffff;font-size: larger"> or </p>
                        <p style="color: #ffffff;font-size: larger"> Take a view at our amazing collection assembled by our Graphers</p>
                        <br>

                        <button class="btn btn-block btn-primary btn-xlarge" style="width: 60%; margin-left: 20%" ui-sref="grafie.browse({type:'photos'})"><p style="color: #ffffff;font-size: larger; margin-bottom: -5px">Browse Collection</p></button>
                        <button class="btn btn-block btn-primary btn-xlarge" style="width: 60%;margin-left: 20%" ui-sref="grafie.browse({type:'graphers'})"><p style="color: #ffffff;font-size: larger; margin-bottom: -5px">Find your Grapher</p></button>
                        <br>
                        <a><p style="color: #ffffff">Interested in becoming a Grapher? More Info here.</p></a>
                    </div>

                </div>
            </div>

        </div>
    </div><!--static wrapper-->
</div>