<div id="footer" class="container" style="alignment: bottom; height: 100%">
    <footer class="text-right">

        <!--<div class="row">-->
            <!--<div class="col-md-8">-->
                <!--<ul class="footer-links">-->
                    <!--<li><a href="/freecoins">Free</a></li>-->
                    <!--<li><a href="/recent">Recent</a></li>-->
                    <!--<li><a href="/ethics">Ethics</a></li>-->
                    <!--<li><a href="/rules">Rules</a></li>-->
                    <!--<li><a href="/privacy">Privacy</a></li>-->
                    <!--<li><a href="/cookies">Cookies</a></li>-->
                    <!--<li><a href="/terms">Terms</a></li>-->
                    <!--<li><a href="/help">Help</a></li>-->
                    <!--<li><a href="/support">Support</a></li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div id="feedback" class="col-md-4">-->
                <!--<a href=""><span class="glyphicon glyphicon-thumbs-down" title="Give us feedback Sad"></span></a>-->
                <!--<a href=""><span class="glyphicon glyphicon-thumbs-up" title="Give us feedback Happy"></span></a>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row disclaimers">
            <span class="txt-color-white"> Avertus - VEMU Recording © 2016</span>
        </div>

    </footer>
</div>

