<div class="wrapper">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="align-content: center; text-align: center">
            <h1 style="margin-bottom: 10px"><small>Derek Jedral</small></h1>
            <img class="img-circle" src="resources/images/profile1.jpg" style="height: 30%; width: 30%; margin: 5px 5px 5px 5px">
            <p><i class="fa fa-star"></i> 4.8</p>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-2 col-sm-offset-2" style="border-right: thin solid black;border-left: thin solid black; text-align: center">
                    <h2><small>Portfolio</small></h2>
                </div>
                <div class="col-sm-2" style="border-right: thin solid black;text-align: center">
                    <h2><small>About</small></h2>
                </div>
                <div class="col-sm-2" style="border-right: thin solid black;text-align: center">
                    <h2><small>Ratings</small></h2>
                </div>
                <div class="col-sm-2" style="border-right: thin solid black;text-align: center">
                    <h2><small>Contact</small></h2>
                </div>
            </div>
        </div>
        <hr style="width: 70%">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="freewall" class="free-wall">
                </div>
            </div>
        </div>
    </div>

</div>