<div class="backgroundSignup">
    <div class="one-page-static-wrap" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="static-text" style="margin-top: -225px">
                <div style="text-align: center">

                </div>
                <h1 style="font-size: 35px">Grafers for Any Occasion</h1>
                <div style="text-align: center;margin: inherit">
                    <div class="col-sm-6 col-sm-offset-3" style="margin-top: -25px;">
                        <p style="color: #ffffff;font-size: larger">Weddings, parties or headshots...you need someone behind the lens. Find the perfect "grafer" for your needs.</p>

                        <div class="row col-sm-8 col-sm-offset-2" style="margin-top: 25px">
                            <p style="color: #ffffff;font-size: larger"><u>Registration</u></p>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Username" style="margin-bottom: 10px"/>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email" style="margin-bottom: 10px"/>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Password" style="margin-bottom: 10px"/>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Confirm Password" style="margin-top: 15px"/>

                            <button class="btn btn-block btn-primary btn-xlarge" ui-sref="grafie.auth({type:'signup'})" style="margin-top: 10px"><p style="color: #ffffff;font-size: larger; margin-bottom: -5px">Sign up!</p></button>
                            <a ui-sref="grafie.home({type:'login'})"><p style="color: #ffffff">Already a member? Login here.</p></a>

                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div><!--static wrapper-->
</div>