<div class="wrapper">
    <div class="row">
        <div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
            <!--<div id="searchBar" >-->
            <!--<span class="icon"><i class="fa fa-search"></i></span>-->
            <!--<input type="search" id="search" placeholder="Search a category of images..." />-->
            <!--</div>-->
            <div class = "bannerimage">
                <br>
                <div class="row">
                    <div class="box">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div id="searchBar" >
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="search" id="search" placeholder="Search a category of images..." />
                            </div>
                            <select style="width: 20%; height: 50px; margin-left: 5px">
                                <option value="popular">Popular</option>
                                <option value="mostRecent">Most Recent</option>
                                <option value="nearMe">Near Me</option>
                                <option value="random">Random</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" style="text-align: center" id="advSettings">
                        <p id="advText" style="font-size: 10px;color: white;margin-bottom: 2px"> Show Categories</p>
                        <hr style="color: gray;margin-top: 0px; margin-bottom: 0px; width: 70%">
                        <p id = 'advAngle' style="font-size: 10px;color: white; margin-top: 2px">▽</p>
                    </div>
                </div>

                <div id="categories" style="display: none">
                    <div class="row" style="height: 125px;width: auto; margin-left: 10px;margin-right: 10px; ">
                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">

                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Wedding</label>
                                </div>

                            </div>
                            <img  style='height: 125px; width: 100%;' src="resources/images/categories/wedding.jpg">

                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Sports</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/event.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Portraits</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/portrait.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Events</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/party.jpg">
                        </div>
                    </div>

                    <div class="row" style="height: 125px;width: auto; margin-left: 10px;margin-right: 10px; margin-top: 10px">

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Nature</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/nature.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Wildlife</label>
                                </div>

                            </div>                            <img style='height: 125px; width: 100%;' src="resources/images/categories/wildlife.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Business</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/business.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Charity</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/charityevent.jpg">
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="row" style="position: relative; margin-left: 5px; margin-right: 5px">
        <div id="freewall" class="free-wall" style="position: absolute">

        </div>
    </div>


    <div >

    </div>


</div>