<div class="wrapper">
    <div class="row">
        <div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
            <!--<div id="searchBar" >-->
            <!--<span class="icon"><i class="fa fa-search"></i></span>-->
            <!--<input type="search" id="search" placeholder="Search a category of images..." />-->
            <!--</div>-->
            <div class = "bannerimage">
                <div class="row">
                    <div class="box">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div id="searchBar" >
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="search" id="search" placeholder="Search a category of images..." />
                            </div>
                            <select style="width: 20%; height: 50px; margin-left: 5px">
                                <option value="popular">Popular</option>
                                <option value="mostRecent">Most Recent</option>
                                <option value="nearMe">Near Me</option>
                                <option value="random">Random</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" style="text-align: center" id="advSettings">
                        <p id="advText" style="font-size: 10px;color: white;margin-bottom: 2px"> Show Categories</p>
                        <hr style="color: gray;margin-top: 0px; margin-bottom: 0px; width: 70%">
                        <p id = 'advAngle' style="font-size: 10px;color: white; margin-top: 2px">▽</p>
                    </div>
                </div>

                <div id="categories" style="display: none">
                    <div class="row" style="height: 125px;width: auto; margin-left: 10px;margin-right: 10px; ">
                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">

                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Wedding</label>
                                </div>

                            </div>
                            <img  style='height: 125px; width: 100%;' src="resources/images/categories/wedding.jpg">

                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Sports</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/event.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Portraits</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/portrait.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Events</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/party.jpg">
                        </div>
                    </div>

                    <div class="row" style="height: 125px;width: auto; margin-left: 10px;margin-right: 10px; margin-top: 10px">

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Nature</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/nature.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Wildlife</label>
                                </div>

                            </div>                            <img style='height: 125px; width: 100%;' src="resources/images/categories/wildlife.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Business</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/business.jpg">
                        </div>

                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px; position: relative">
                            <div class="category">
                                <div style="opacity: 1">
                                    <br>
                                    <br>
                                    <label style="font-size: large; color: white;">Charity</label>
                                </div>

                            </div>
                            <img style='height: 125px; width: 100%;' src="resources/images/categories/charityevent.jpg">
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="border: solid; border-width: 1px">
            <div class="row" style="height: 40%;width: 100%; background-color: white" >
                <div class="col-sm-2">
                    <img src="resources/images/profile1.jpg" style="height: 100%; width: 100%; margin: 5px 5px 5px 5px">
                </div>
                <div class="col-sm-3" style="text-align: left">
                    <h3  style="margin-bottom: 10px">Derek Jedral</h3>

                    <span><h3 style="margin-bottom: 10px"><small>Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Pricing: <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i><i class="fa fa-dollar"></i></small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Location: Waterloo, ON</small></h3></span>

                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Description</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Skills/Specialties</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-1" style="text-align: left">
                    <button ui-sref="grafie.profile({type:'grapher'})" class="btn btn-md btn-primary" style="margin-left: -10px">View Profile</button>
                </div>
            </div>
            <hr style="margin-top: 10px; width: 100%">
            <div class="row" style="height: 60%;width: 100%; padding-left: 30px">
                <div class="col-sm-12">
                    <div class="rslides_container">
                        <ul class="rslides" id="slider1">
                            <li><img src="resources/images/gallery2/1.jpg" alt=""></li>
                            <li><img src="resources/images/gallery2/2.jpg" alt=""></li>
                            <li><img src="resources/images/gallery2/3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="border: solid; border-width: 1px">
            <div class="row" style="height: 40%;width: 100%; background-color: white" >
                <div class="col-sm-2">
                    <img src="resources/images/profile2.jpg" style="height: 100%; width: 100%; margin: 5px 5px 5px 5px">
                </div>
                <div class="col-sm-3" style="text-align: left">
                    <h3  style="margin-bottom: 10px">Sandy Qin</h3>

                    <span><h3 style="margin-bottom: 10px"><small>Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Pricing: <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i><i class="fa fa-dollar"></i></small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Location: Waterloo, ON</small></h3></span>

                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Description</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Skills/Specialties</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-1" style="text-align: left">
                    <button ui-sref="grafie.profile({type:'grapher'})" class="btn btn-md btn-primary" style="margin-left: -10px">View Profile</button>
                </div>
            </div>
            <hr style="margin-top: 10px; width: 100%">
            <div class="row" style="height: 60%;width: 100%; padding-left: 30px">
                <div class="col-sm-12">
                    <div class="rslides_container">
                        <ul class="rslides" id="slider2">
                            <li><img src="resources/images/gallery3/01.jpg" alt=""></li>
                            <li><img src="resources/images/gallery3/02.jpg" alt=""></li>
                            <li><img src="resources/images/gallery3/03.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="border: solid; border-width: 1px">
            <div class="row" style="height: 40%;width: 100%; background-color: white" >
                <div class="col-sm-2">
                    <img src="resources/images/profile3.jpg" style="height: 100%; width: 100%; margin: 5px 5px 5px 5px">
                </div>
                <div class="col-sm-3" style="text-align: left">
                    <h3  style="margin-bottom: 10px">Evan Shang</h3>

                    <span><h3 style="margin-bottom: 10px"><small>Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Pricing: <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i><i class="fa fa-dollar"></i></small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Location: Toronto, ON</small></h3></span>

                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Description</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Skills/Specialties</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-1" style="text-align: left">
                    <button ui-sref="grafie.profile({type:'grapher'})" class="btn btn-md btn-primary" style="margin-left: -10px">View Profile</button>
                </div>
            </div>
            <hr style="margin-top: 10px; width: 100%">
            <div class="row" style="height: 60%;width: 100%; padding-left: 30px">
                <div class="col-sm-12">
                    <div class="rslides_container">
                        <ul class="rslides" id="slider3">
                            <li><img src="resources/images/gallery4/04.jpg" alt=""></li>
                            <li><img src="resources/images/gallery4/05.jpg" alt=""></li>
                            <li><img src="resources/images/gallery4/06.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="border: solid; border-width: 1px">
            <div class="row" style="height: 40%;width: 100%; background-color: white" >
                <div class="col-sm-2">
                    <img src="resources/images/profile4.jpg" style="height: 100%; width: 100%; margin: 5px 5px 5px 5px">
                </div>
                <div class="col-sm-3" style="text-align: left">
                    <h3  style="margin-bottom: 10px">Edward Kim</h3>

                    <span><h3 style="margin-bottom: 10px"><small>Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Pricing: <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i><i class="fa fa-dollar"></i></small></h3></span>

                    <span><h3 style="margin-bottom: 10px"><small>Location: London, ON</small></h3></span>

                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Description</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3 style="margin-bottom: 10px"><small>Skills/Specialties</small></h3>
                    <p>  Some Description  Some Description  Some Description  Some Description  Some Description  Some Description</p>
                </div>
                <div class="col-sm-1" style="text-align: left">
                    <button ui-sref="grafie.profile({type:'grapher'})" class="btn btn-md btn-primary" style="margin-left: -10px">View Profile</button>
                </div>
            </div>
            <hr style="margin-top: 10px; width: 100%">
            <div class="row" style="height: 60%;width: 100%; padding-left: 30px">
                <div class="col-sm-12">
                    <div class="rslides_container">
                        <ul class="rslides" id="slider4">
                            <li><img src="resources/images/gallery5/07.jpg" alt=""></li>
                            <li><img src="resources/images/gallery5/08.jpg" alt=""></li>
                            <li><img src="resources/images/gallery5/09.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>